<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.klickr.routetest">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="32" />
    <application android:label="Route test map" android:theme="@android:style/Theme.Material.NoActionBar" android:debuggable="true">
        <activity android:name=".RouteMapActivity" android:exported="true" android:screenOrientation="landscape">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
